/*-----------------------------------------------------------
* Template Name    : Arshia - Fully Responsive Personal Template
* Author           : Retrina Group
* Version          : 1.0.0
* Created          : June 2020
* File Description : Color css file of the template
*------------------------------------------------------------*/
::selection {
  background: rgba(8, 157, 8, 0.31);
}
::-moz-selection {
  background: rgba(8, 157, 20, 0.31);
}
.base-color {
  color: #289904 !important;
}
.hero-social li a,
.blog-link a {
  color: #289904 !important;
}
.hero-social li a:hover,
.blog-link a:hover {
  color: #ac041c !important;
}
.bg-base-color {
  background-color: #289904 !important;
}
.follow-label:before,
.skill-box .fill-skillbar,
.timeline-area:before,
.testimonial .testimonial-border,
.testimonial .owl-dot.active span,
.blog-content:before,
.blog .owl-dot.active span {
  background: #289904;
}
.menu li a,
header .navbar-brand span,
header .navbar-brand b,
.pill-button,
.pill-button:hover,
.ability ul li:before,
.timeline-icon,
.timeline-year,
.language-skill ul li i,
.contact .form-item .form-control,
.comments .comment-info a,
.portfolio .portfolio-icon a,
.portfolio .portfolio-icon button,
.blog-content button:hover,
.comments .comment-info a:hover,
.social a:hover {
  color: #289904;
}
.loader {
  border-top: 4px solid #289904 !important;
}
.timeline-icon {
  border: 1px solid #289904;
  background-color: #289904;
}
.portfolio .portfolio-item-content::before {
  background-color: rgb(8, 157, 40);
}
.menu-toggler span {
  background-color: rgb(8, 157, 40);
}
.timeline-item:before {
  border: 2px solid #289904;
}
.timeline-item:before {
  border: 1px solid #289904;
}

/*-------------------------
      Flat Demo
-------------------------*/
.flat-demo .button-border,
.arshia-dark.flat-demo .button-border {
  background-color: #289904;
}
.flat-demo .pill-button:hover,
.flat-demo .pill-button.active {
  background-color: #289904;
}
